<div class="card-auth">
  <div class="card container" style="width: 18rem">
    <div class="card-body">
      <div class="info-logo-auth">
        <h5 class="card-title">Offices Bits</h5>
      </div>
      <div class="card-form-auth">
        <div
          class="alert alert-danger"
          *ngIf="errorAlert || userIncorrect"
          role="alert"
        >
          <p *ngIf="errorAlert">
            Error inesperado por favor intente mas tarde!
          </p>
          <p *ngIf="userIncorrect">Usuario o contraseña incorrectos</p>
        </div>
        <form
          id="loginForm"
          class="row"
          [formGroup]="form"
          (ngSubmit)="login()"
        >
          <div class="mb-3 col-12">
            <label for="exampleFormControlInput1" class="form-label"
              >Correo electrónico</label
            >
            <input
              type="email"
              class="form-control"
              id="email-login"
              formControlName="email"
              placeholder="hola@ejemplo.com"
              [ngClass]="{
                'is-invalid':
                  form.get('email')?.errors && form.get('email')?.dirty
              }"
              (input)="
                form.patchValue({
                  email: $any($event.target).value.toLowerCase()
                })
              "
            />
            <div id="email-feedback" class="invalid-feedback">
              El campo es requerido.
            </div>
          </div>
          <div class="mb-3 col-12">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="password-login"
              formControlName="password"
              placeholder="Contraseña de minimo 6 digitos"
              [ngClass]="{
                'is-invalid':
                  form.get('password')?.errors && form.get('password')?.dirty
              }"
              maxlength="16"
            />
            <p id="password-feedback" class="invalid-feedback">
              El campo es requerido.
            </p>
          </div>
          <div class="mb-3 col-12 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              formControlName="rememberMe"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Recordar mis datos
            </label>
          </div>
          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn btn-secondary .btn-lg"
              [disabled]="form.invalid"
              [ngClass]="{ 'btn-dark': !form.invalid }"
            >
              Ingresar
            </button>
          </div>
          <div class="mb-3 col-12 card-recover-pass">
            <a [routerLink]="['/auth/recover']" class="recover-pass"
              >Olvide mi contraseña</a
            >
          </div>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
